.img-thumbnail{
	height:80px;
	width:100px;
}
.myNavbar{
	
}
.carousel-inner{
	height:500px;
}

}
footer .footer-top .footer-link {
	color:red;
}
footer .copyright{
	text-align:center;
	padding-top:
}

.blog-items{
	padding-right:50px;
}